Repository Azure/azure-rest-api-specs-examples, pull requests merged in 2022-12, with the labels that each got.

#1591 [Automation] Collect examples from azure-sdk-for-js#@azure/arm-timeseriesinsights_2.1.0-beta.2
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/AccessPoliciesCreate.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/AccessPoliciesCreate.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/AccessPoliciesDelete.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/AccessPoliciesDelete.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/AccessPoliciesGet.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/AccessPoliciesGet.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/AccessPoliciesListByEnvironment.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/AccessPoliciesListByEnvironment.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/AccessPoliciesPatchRoles.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/AccessPoliciesPatchRoles.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/EnvironmentsCreate.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/EnvironmentsCreate.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/EnvironmentsDelete.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/EnvironmentsDelete.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/EnvironmentsGet.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/EnvironmentsGet.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/EnvironmentsListByResourceGroup.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/EnvironmentsListByResourceGroup.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/EnvironmentsListBySubscription.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/EnvironmentsListBySubscription.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/EnvironmentsPatchTags.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/EnvironmentsPatchTags.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/EventSourcesCreateEventHubWithCustomEnquedTime.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/EventSourcesCreateEventHubWithCustomEnquedTime.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/EventSourcesDelete.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/EventSourcesDelete.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/EventSourcesGetEventHub.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/EventSourcesGetEventHub.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/EventSourcesListByEnvironment.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/EventSourcesListByEnvironment.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/EventSourcesPatchTags.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/EventSourcesPatchTags.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/Operation_List.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/Operation_List.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/PrivateEndpointConnectionDelete.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/PrivateEndpointConnectionDelete.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/PrivateEndpointConnectionGet.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/PrivateEndpointConnectionGet.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/PrivateEndpointConnectionUpdate.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/PrivateEndpointConnectionUpdate.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/PrivateEndpointConnectionsListByEnvironment.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/PrivateEndpointConnectionsListByEnvironment.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/PrivateLinkResourcesGet.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/PrivateLinkResourcesGet.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/ReferenceDataSetsCreate.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/ReferenceDataSetsCreate.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/ReferenceDataSetsDelete.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/ReferenceDataSetsDelete.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/ReferenceDataSetsGet.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/ReferenceDataSetsGet.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/ReferenceDataSetsListByEnvironment.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/ReferenceDataSetsListByEnvironment.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/ReferenceDataSetsPatchTags.js
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2021-03-31-preview/examples-js/ReferenceDataSetsPatchTags.json
Labels: TimeseriesInsights

#1589 [Automation] Collect examples from azure-sdk-for-js#@azure/arm-servicefabric_2.1.0
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ApplicationDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ApplicationGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ApplicationListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ApplicationPatchOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ApplicationPutOperation_example_max.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ApplicationPutOperation_example_min.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ApplicationPutOperation_recreate_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ApplicationTypeNameDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ApplicationTypeNameGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ApplicationTypeNameListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ApplicationTypeNamePutOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ApplicationTypeVersionDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ApplicationTypeVersionGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ApplicationTypeVersionListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ApplicationTypeVersionPutOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ClusterDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ClusterGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ClusterListByResourceGroupOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ClusterListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ClusterPatchOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ClusterPutOperation_example_max.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ClusterPutOperation_example_min.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ClusterVersionsGetByEnvironment_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ClusterVersionsGet_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ClusterVersionsListByEnvironment.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ClusterVersionsList_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ListOperations.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ListUpgradableVersionsMinMax_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ListUpgradableVersionsPath_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ServiceDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ServiceGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ServiceListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ServicePatchOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ServicePutOperation_example_max.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-js/ServicePutOperation_example_min.json
Labels: Service Fabric

#1614 [Automation] Collect examples from azure-sdk-for-js#@azure/arm-search_3.1.0
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/CreateOrUpdateSharedPrivateLinkResource.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/DeletePrivateEndpointConnection.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/DeleteSharedPrivateLinkResource.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/GetPrivateEndpointConnection.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/GetSharedPrivateLinkResource.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/ListPrivateEndpointConnectionsByService.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/ListSharedPrivateLinkResourcesByService.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/ListSupportedPrivateLinkResources.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/SearchCheckNameAvailability.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/SearchCreateOrUpdateService.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/SearchCreateOrUpdateServiceToAllowAccessFromPrivateEndpoints.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/SearchCreateOrUpdateServiceToAllowAccessFromPublicCustomIPs.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/SearchCreateOrUpdateServiceWithIdentity.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/SearchCreateQueryKey.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/SearchDeleteQueryKey.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/SearchDeleteService.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/SearchGetAdminKeys.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/SearchGetService.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/SearchListQueryKeysBySearchService.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/SearchListServicesByResourceGroup.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/SearchListServicesBySubscription.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/SearchRegenerateAdminKey.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/SearchUpdateService.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/SearchUpdateServiceToAllowAccessFromPrivateEndpoints.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/SearchUpdateServiceToAllowAccessFromPublicCustomIPs.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/SearchUpdateServiceToRemoveIdentity.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples-js/UpdatePrivateEndpointConnection.json
Labels: Search

#1607 [Automation] Collect examples from azure-sdk-for-java#azure-resourcemanager-recoveryservices_1.0.0-beta.4
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/Capabilities.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/Capabilities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/DeleteRegisteredIdentities.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/DeleteVault.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/GETVault.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/GETVaultExtendedInfo.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/GetOperationResult.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/GetOperationStatus.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/GetPrivateLinkResources.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/ListBySubscriptionIds.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/ListOperations.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/ListPrivateLinkResources.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/ListReplicationUsages.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/ListResources.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/ListUsages.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/PATCHVault.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/PATCHVault_WithCMK.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/PATCHVault_WithCMK3.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/PATCHVault_WithMonitoringSettings.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/PATCHVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/PATCHVault_WithUserAssignedIdentity.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/PUTVault.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/PUTVaultCred.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/PUTVault_WithCMK.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/PUTVault_WithMonitoringSettings.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/PUTVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/PUTVault_WithUserAssignedIdentity.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/PatchVault_WithCMK2.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/UpdateVaultExtendedInfo.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples-java/UpdateVaultExtendedInfo.json
Labels: RecoveryServices

#1630 [Automation] Collect examples from azure-sdk-for-js#@azure/arm-appservice-profile-2020-09-01-hybrid_2.1.0
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/CreateOrUpdateAppServicePlan.js
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/CreateOrUpdateAppServicePlan.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/CreateOrUpdateCertificate.js
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/CreateOrUpdateCertificate.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/DeleteAppServicePlan.js
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/DeleteAppServicePlan.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/DeleteCertificate.js
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/DeleteCertificate.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/GetAppServicePlan.js
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/GetAppServicePlan.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/GetCertificate.js
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/GetCertificate.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/GetWebSiteNetworkTraceOperation.js
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/GetWebSiteNetworkTraceOperation.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/GetWebSiteNetworkTraces.js
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/GetWebSiteNetworkTraces.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/ListAppServicePlans.js
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/ListAppServicePlans.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/ListAppServicePlansByResourceGroup.js
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/ListAppServicePlansByResourceGroup.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/ListCertificates.js
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/ListCertificates.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/ListCertificatesByResourceGroup.js
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/ListCertificatesByResourceGroup.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/ListOperations.js
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/ListOperations.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/PatchAppServicePlan.js
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/PatchAppServicePlan.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/PatchCertificate.js
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/PatchCertificate.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/StartWebSiteNetworkTraceOperation.js
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/StartWebSiteNetworkTraceOperation.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/StopWebSiteNetworkTrace.js
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/StopWebSiteNetworkTrace.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/VerifyHostingEnvironmentVnet.js
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples-js/VerifyHostingEnvironmentVnet.json
Labels: Web Apps

#1637 [Automation] Collect examples from azure-sdk-for-js#@azure/arm-keyvault-profile-2020-09-01-hybrid_2.1.0
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/checkVaultNameAvailability.js
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/checkVaultNameAvailability.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/createSecret.js
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/createSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/createVault.js
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/createVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/createVaultWithNetworkAcls.js
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/createVaultWithNetworkAcls.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/deletePrivateEndpointConnection.js
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/deletePrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/deleteVault.js
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/deleteVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/getDeletedVault.js
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/getDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/getPrivateEndpointConnection.js
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/getPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/getSecret.js
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/getSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/getVault.js
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/getVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/listDeletedVaults.js
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/listDeletedVaults.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/listOperations.js
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/listOperations.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/listPrivateLinkResources.js
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/listPrivateLinkResources.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/listSecrets.js
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/listSecrets.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/listVault.js
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/listVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/listVaultByResourceGroup.js
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/listVaultByResourceGroup.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/listVaultBySubscription.js
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/listVaultBySubscription.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/purgeDeletedVault.js
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/purgeDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/putPrivateEndpointConnection.js
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/putPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/updateAccessPoliciesAdd.js
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/updateAccessPoliciesAdd.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/updateSecret.js
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/updateSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/updateVault.js
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples-js/updateVault.json
Labels: KeyVault

#1635 [Automation] Collect examples from azure-sdk-for-js#@azure/arm-monitor-profile-2020-09-01-hybrid_2.1.0
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/examples-js/createOrUpdateDiagnosticSetting.js
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/examples-js/createOrUpdateDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/examples-js/deleteDiagnosticSetting.js
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/examples-js/deleteDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/examples-js/getDiagnosticSetting.js
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/examples-js/getDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/examples-js/getDiagnosticSettingsCategory.js
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/examples-js/getDiagnosticSettingsCategory.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/examples-js/listDiagnosticSettings.js
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/examples-js/listDiagnosticSettings.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/examples-js/listDiagnosticSettingsCategories.js
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/examples-js/listDiagnosticSettingsCategories.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2015-04-01/examples-js/GetEventCategories.js
  specification/monitor/resource-manager/Microsoft.Insights/stable/2015-04-01/examples-js/GetEventCategories.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2015-04-01/examples-js/OperationList.js
  specification/monitor/resource-manager/Microsoft.Insights/stable/2015-04-01/examples-js/OperationList.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/examples-js/GetMetric.js
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/examples-js/GetMetric.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/examples-js/GetMetricDefinitions.js
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/examples-js/GetMetricDefinitions.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/examples-js/GetMetricDefinitionsApplicationInsights.js
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/examples-js/GetMetricDefinitionsApplicationInsights.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/examples-js/GetMetricDefinitionsMetricClass.js
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/examples-js/GetMetricDefinitionsMetricClass.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/examples-js/GetMetricError.js
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/examples-js/GetMetricError.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/examples-js/GetMetricMetadata.js
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/examples-js/GetMetricMetadata.json
Labels: Monitor

#1642 [Automation] Collect examples from azure-sdk-for-js#@azure/arm-postgresql-flexible_6.1.0
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/CapabilitiesByLocation.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/CapabilitiesByLocation.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/CheckNameAvailability.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/CheckNameAvailability.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ConfigurationGet.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ConfigurationGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ConfigurationListByServer.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ConfigurationListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ConfigurationUpdate.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ConfigurationUpdate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/DatabaseCreate.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/DatabaseCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/DatabaseDelete.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/DatabaseDelete.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/DatabaseGet.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/DatabaseGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/DatabasesListByServer.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/DatabasesListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/FirewallRuleCreate.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/FirewallRuleCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/FirewallRuleDelete.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/FirewallRuleDelete.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/FirewallRuleGet.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/FirewallRuleGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/FirewallRuleListByServer.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/FirewallRuleListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/GetPrivateDnsZoneSuffix.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/GetPrivateDnsZoneSuffix.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/OperationList.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/OperationList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ServerCreate.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ServerCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ServerCreatePointInTimeRestore.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ServerCreatePointInTimeRestore.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ServerDelete.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ServerDelete.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ServerGet.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ServerGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ServerGetWithVnet.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ServerGetWithVnet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ServerList.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ServerList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ServerListByResourceGroup.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ServerListByResourceGroup.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ServerRestart.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ServerRestart.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ServerRestartWithFailover.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ServerRestartWithFailover.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ServerStart.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ServerStart.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ServerStop.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ServerStop.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ServerUpdate.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ServerUpdate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ServerUpdateWithCustomerMaintenanceWindow.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/ServerUpdateWithCustomerMaintenanceWindow.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/VirtualNetworkSubnetUsage.js
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples-js/VirtualNetworkSubnetUsage.json
Labels: PostgreSQL

#1647 [Automation] Collect examples from azure-sdk-for-net#Azure.ResourceManager.Analysis_1.0.0
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/checkNameAvailability.cs
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/checkNameAvailability.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/createServer.cs
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/createServer.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/deleteServer.cs
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/deleteServer.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/dissociateGateway.cs
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/dissociateGateway.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/getServer.cs
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/getServer.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/listGatewayStatus.cs
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/listGatewayStatus.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/listServers.cs
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/listServers.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/listServersInResourceGroup.cs
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/listServersInResourceGroup.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/listSkusForExisting.cs
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/listSkusForExisting.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/listSkusForNew.cs
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/listSkusForNew.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/resumeServer.cs
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/resumeServer.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/suspendServer.cs
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/suspendServer.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/updateServer.cs
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/updateServer.json
Labels: Analysis Services

#1650 [az]Add CLI examples for storage account creation in 2022-09-01
  specification/storage/resource-manager/Microsoft.Storage/stable/2022-09-01/examples-az/StorageAccountCreate.az
  specification/storage/resource-manager/Microsoft.Storage/stable/2022-09-01/examples-az/StorageAccountCreate.json
Labels: Storage

#1657 [Automation] Collect examples from azure-sdk-for-python#azure-mgmt-alertsmanagement_2.0.0b2
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-python/AlertsMetaData_MonitorService.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-python/AlertsMetaData_MonitorService.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-python/Alerts_ChangeState.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-python/Alerts_ChangeState.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-python/Alerts_GetById.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-python/Alerts_GetById.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-python/Alerts_History.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-python/Alerts_History.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-python/Alerts_List.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-python/Alerts_List.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-python/Alerts_Summary.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-python/Alerts_Summary.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-python/Operations_List.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-python/Operations_List.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-python/SmartGroups_ChangeState.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-python/SmartGroups_ChangeState.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-python/SmartGroups_GetById.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-python/SmartGroups_GetById.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-python/SmartGroups_History.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-python/SmartGroups_History.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-python/SmartGroups_List.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-python/SmartGroups_List.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples-python/createOrUpdatePrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples-python/createOrUpdatePrometheusRuleGroup.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples-python/deletePrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples-python/deletePrometheusRuleGroup.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples-python/getPrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples-python/getPrometheusRuleGroup.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples-python/listPrometheusRuleGroups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples-python/listPrometheusRuleGroups.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples-python/listSubscriptionPrometheusRuleGroups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples-python/listSubscriptionPrometheusRuleGroups.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples-python/patchPrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples-python/patchPrometheusRuleGroup.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-python/AlertProcessingRules_Create_or_update_add_action_group_all_alerts_in_subscription.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-python/AlertProcessingRules_Create_or_update_add_action_group_all_alerts_in_subscription.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-python/AlertProcessingRules_Create_or_update_add_two_action_groups_all_Sev0_Sev1_two_resource_groups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-python/AlertProcessingRules_Create_or_update_add_two_action_groups_all_Sev0_Sev1_two_resource_groups.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-python/AlertProcessingRules_Create_or_update_remove_all_action_groups_from_specific_alert_rule.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-python/AlertProcessingRules_Create_or_update_remove_all_action_groups_from_specific_alert_rule.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-python/AlertProcessingRules_Create_or_update_remove_all_action_groups_outside_business_hours.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-python/AlertProcessingRules_Create_or_update_remove_all_action_groups_outside_business_hours.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-python/AlertProcessingRules_Create_or_update_remove_all_action_groups_recurring_maintenance_window.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-python/AlertProcessingRules_Create_or_update_remove_all_action_groups_recurring_maintenance_window.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-python/AlertProcessingRules_Create_or_update_remove_all_action_groups_specific_VM_one-off_maintenance_window.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-python/AlertProcessingRules_Create_or_update_remove_all_action_groups_specific_VM_one-off_maintenance_window.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-python/AlertProcessingRules_Delete.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-python/AlertProcessingRules_Delete.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-python/AlertProcessingRules_GetById.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-python/AlertProcessingRules_GetById.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-python/AlertProcessingRules_List_ResourceGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-python/AlertProcessingRules_List_ResourceGroup.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-python/AlertProcessingRules_List_Subscription.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-python/AlertProcessingRules_List_Subscription.py
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-python/AlertProcessingRules_Patch.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-python/AlertProcessingRules_Patch.py
Labels: Alerts Management

#1655 [Automation] Collect examples from azure-sdk-for-python#azure-mgmt-containerinstance_10.1.0b1
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/CachedImagesList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/CachedImagesList.py
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/CapabilitiesList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/CapabilitiesList.py
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerAttach.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerAttach.py
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerExec.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerExec.py
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupCreateConfidential.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupCreateConfidential.py
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupEncryptionProperties.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupEncryptionProperties.py
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupExtensions.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupExtensions.py
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupUsage.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupUsage.py
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupsCreateOrUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupsCreateOrUpdate.py
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupsCreatePriority.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupsCreatePriority.py
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupsDelete.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupsDelete.py
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupsGetPriority.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupsGetPriority.py
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupsGet_Failed.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupsGet_Failed.py
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupsGet_Succeeded.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupsGet_Succeeded.py
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupsList.py
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupsListByResourceGroup.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupsListByResourceGroup.py
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupsRestart.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupsRestart.py
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupsStart.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupsStart.py
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupsStop.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerGroupsStop.py
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerListLogs.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/ContainerListLogs.py
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/OperationsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/OperationsList.py
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/SubnetServiceAssociationLinkDelete.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-python/SubnetServiceAssociationLinkDelete.py
Labels: Container Instances
