Repository Azure/azure-rest-api-specs-examples, pull requests merged in 2023-02, with the labels that each got.

#1886 [Automation] Collect examples from azure-sdk-for-python#azure-mgmt-loadtesting_1.0.0
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-python/LoadTests_Delete.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-python/LoadTests_Get.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-python/LoadTests_ListByResourceGroup.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-python/LoadTests_ListBySubscription.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-python/LoadTests_ListOutboundNetworkDependenciesEndpoints.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-python/Operations_List.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-python/Quotas_Get.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-python/Quotas_List.json
Labels: Load Test Service

#1885 [Automation] Collect examples from azure-sdk-for-js#@azure/arm-loadtesting_1.0.0
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-js/LoadTests_CreateOrUpdate.js
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-js/LoadTests_CreateOrUpdate.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-js/LoadTests_Delete.js
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-js/LoadTests_Delete.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-js/LoadTests_Get.js
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-js/LoadTests_Get.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-js/LoadTests_ListByResourceGroup.js
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-js/LoadTests_ListByResourceGroup.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-js/LoadTests_ListBySubscription.js
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-js/LoadTests_ListBySubscription.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-js/LoadTests_ListOutboundNetworkDependenciesEndpoints.js
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-js/LoadTests_ListOutboundNetworkDependenciesEndpoints.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-js/LoadTests_Update.js
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-js/LoadTests_Update.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-js/Operations_List.js
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-js/Operations_List.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-js/Quotas_CheckAvailability.js
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-js/Quotas_CheckAvailability.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-js/Quotas_Get.js
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-js/Quotas_Get.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-js/Quotas_List.js
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-js/Quotas_List.json
Labels: Load Test Service

#1884 [Automation] Collect examples from azure-sdk-for-go#sdk/resourcemanager/loadtesting/armloadtesting/v1.0.2
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-go/LoadTests_CreateOrUpdate.go
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-go/LoadTests_CreateOrUpdate.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-go/LoadTests_Delete.go
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-go/LoadTests_Delete.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-go/LoadTests_Get.go
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-go/LoadTests_Get.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-go/LoadTests_ListByResourceGroup.go
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-go/LoadTests_ListByResourceGroup.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-go/LoadTests_ListBySubscription.go
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-go/LoadTests_ListBySubscription.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-go/LoadTests_ListOutboundNetworkDependenciesEndpoints.go
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-go/LoadTests_ListOutboundNetworkDependenciesEndpoints.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-go/LoadTests_Update.go
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-go/LoadTests_Update.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-go/Operations_List.go
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-go/Operations_List.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-go/Quotas_CheckAvailability.go
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-go/Quotas_CheckAvailability.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-go/Quotas_Get.go
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-go/Quotas_Get.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-go/Quotas_List.go
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-go/Quotas_List.json
Labels: Load Test Service

#1883 [Automation] Collect examples from azure-sdk-for-java#azure-resourcemanager-loadtesting_1.0.0
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-java/LoadTests_CreateOrUpdate.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-java/LoadTests_Delete.java
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-java/LoadTests_Delete.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-java/LoadTests_Get.java
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-java/LoadTests_Get.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-java/LoadTests_ListByResourceGroup.java
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-java/LoadTests_ListByResourceGroup.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-java/LoadTests_ListBySubscription.java
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-java/LoadTests_ListBySubscription.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-java/LoadTests_ListOutboundNetworkDependenciesEndpoints.java
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-java/LoadTests_ListOutboundNetworkDependenciesEndpoints.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-java/LoadTests_Update.java
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-java/LoadTests_Update.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-java/Operations_List.java
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-java/Operations_List.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-java/Quotas_CheckAvailability.java
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-java/Quotas_CheckAvailability.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-java/Quotas_Get.java
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-java/Quotas_Get.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-java/Quotas_List.java
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-java/Quotas_List.json
Labels: Load Test Service

#1887 [Automation] Collect examples from azure-sdk-for-net#Azure.ResourceManager.LoadTesting_1.0.0
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-dotnet/LoadTests_CreateOrUpdate.cs
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-dotnet/LoadTests_CreateOrUpdate.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-dotnet/LoadTests_Delete.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-dotnet/LoadTests_Get.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-dotnet/LoadTests_ListByResourceGroup.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-dotnet/LoadTests_ListBySubscription.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-dotnet/LoadTests_ListOutboundNetworkDependenciesEndpoints.cs
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-dotnet/LoadTests_ListOutboundNetworkDependenciesEndpoints.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-dotnet/LoadTests_Update.cs
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-dotnet/LoadTests_Update.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-dotnet/Quotas_CheckAvailability.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-dotnet/Quotas_Get.cs
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-dotnet/Quotas_Get.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-dotnet/Quotas_List.json
Labels: Load Test Service

#1909 [Automation] Collect examples from azure-sdk-for-js#@azure/arm-recoveryservices_5.1.1
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/CheckNameAvailability_Available.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/CheckNameAvailability_NotAvailable.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/DeleteRegisteredIdentities.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/DeleteVault.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/GETVault.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/GETVaultExtendedInfo.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/GetOperationResult.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/GetOperationStatus.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/GetPrivateLinkResources.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/ListBySubscriptionIds.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/ListOperations.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/ListPrivateLinkResources.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/ListReplicationUsages.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/ListResources.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/ListUsages.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/PATCHVault.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/PATCHVault_WithCMK.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/PATCHVault_WithCMK3.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/PATCHVault_WithMonitoringSettings.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/PATCHVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/PATCHVault_WithUserAssignedIdentity.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/PUTVault.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/PUTVaultCred.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/PUTVault_WithCMK.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/PUTVault_WithMonitoringSettings.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/PUTVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/PUTVault_WithUserAssignedIdentity.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/PatchVault_WithCMK2.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/UpdateVaultExtendedInfo.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-04-01/examples-js/UpdateVaultExtendedInfo.json
Labels: RecoveryServices

#1897 [Automation] Collect examples from azure-sdk-for-js#@azure/arm-storageimportexport_2.1.0
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples-js/CreateExportJob.js
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples-js/CreateExportJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples-js/CreateJob.js
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples-js/CreateJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples-js/DeleteJob.js
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples-js/DeleteJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples-js/GetExportJob.js
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples-js/GetExportJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples-js/GetJob.js
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples-js/GetJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples-js/GetLocation.js
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples-js/GetLocation.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples-js/ListBitLockerKeys.js
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples-js/ListBitLockerKeys.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples-js/ListJobsInResourceGroup.js
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples-js/ListJobsInResourceGroup.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples-js/ListJobsInSubscription.js
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples-js/ListJobsInSubscription.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples-js/ListLocations.js
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples-js/ListLocations.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples-js/ListOperations.js
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples-js/ListOperations.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples-js/UpdateExportJob.js
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples-js/UpdateExportJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples-js/UpdateJob.js
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples-js/UpdateJob.json
Labels: Import Export

#1937 Add CLI examples for new API version
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachine_Create_CustomImageVmFromAnUnmanagedGeneralizedOsImage.az
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachine_Create_CustomImageVmFromAnUnmanagedGeneralizedOsImage.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachine_Create_FromACommunityGalleryImage.az
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachine_Create_FromACommunityGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachine_Create_FromACustomImage.az
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachine_Create_FromACustomImage.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachine_Create_FromAGeneralizedSharedImage.az
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachine_Create_FromAGeneralizedSharedImage.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachine_Create_FromASharedGalleryImage.az
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachine_Create_FromASharedGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachine_Create_FromASpecializedSharedImage.az
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachine_Create_FromASpecializedSharedImage.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachine_Create_InAnAvailabilitySet.az
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachine_Create_InAnAvailabilitySet.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachine_Create_WithSshAuthentication.az
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachine_Create_WithSshAuthentication.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachine_Get.az
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachine_Get.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachine_Get_InstanceView.az
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachine_Get_InstanceView.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachine_Get_InstanceViewAutoPlacedOnDedicatedHostGroup.az
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachine_Get_InstanceViewAutoPlacedOnDedicatedHostGroup.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachine_Reapply.az
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachine_Reapply.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachines_ListAll_MaximumSet_Gen.az
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachines_ListAll_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachines_ListAll_MinimumSet_Gen.az
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachines_ListAll_MinimumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachines_List_MaximumSet_Gen.az
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachines_List_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachines_List_MinimumSet_Gen.az
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples-az/virtualMachineExamples/VirtualMachines_List_MinimumSet_Gen.json
Labels: Compute

#1955 [Automation] Collect examples from azure-sdk-for-python#azure-mgmt-applicationinsights_4.0.0b1
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbookAdd.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbookAdd.py
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbookDelete.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbookDelete.py
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbookGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbookGet.py
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbookGet1.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbookGet1.py
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbookManagedAdd.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbookManagedAdd.py
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbookManagedGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbookManagedGet.py
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbookManagedUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbookManagedUpdate.py
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbookRevisionGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbookRevisionGet.py
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbookRevisionsList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbookRevisionsList.py
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbookUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbookUpdate.py
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbooksList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbooksList.py
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbooksList2.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbooksList2.py
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbooksListSub.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbooksListSub.py
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbooksManagedList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples-python/WorkbooksManagedList.py
Labels: Insights

#1948 [Automation] Collect examples from azure-sdk-for-java#azure-resourcemanager-recoveryservices_1.0.0-beta.5
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/Capabilities.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/Capabilities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/DeleteRegisteredIdentities.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/DeleteVault.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/GETVault.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/GETVaultExtendedInfo.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/GetOperationResult.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/GetOperationStatus.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/GetPrivateLinkResources.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/ListBySubscriptionIds.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/ListOperations.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/ListPrivateLinkResources.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/ListReplicationUsages.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/ListResources.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/ListUsages.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PATCHVault.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PATCHVault_WithCMK.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PATCHVault_WithCMK3.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PATCHVault_WithMonitoringSettings.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PATCHVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PATCHVault_WithUserAssignedIdentity.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PUTVault.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PUTVaultCred.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PUTVault_WithCMK.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PUTVault_WithMonitoringSettings.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PUTVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PUTVault_WithUserAssignedIdentity.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PatchVault_WithCMK2.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/UpdateVaultExtendedInfo.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/UpdateVaultExtendedInfo.json
Labels: RecoveryServices

#1974 [Automation] Collect examples from azure-sdk-for-python#azure-mgmt-authorization_3.1.0b1
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/DeleteRoleDefinition.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/DeleteRoleDefinition.py
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/GetAllDenyAssignments.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/GetAllDenyAssignments.py
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/GetAllProviderOperations.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/GetAllProviderOperations.py
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/GetDenyAssignmentById.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/GetDenyAssignmentById.py
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/GetDenyAssignmentByNameId.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/GetDenyAssignmentByNameId.py
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/GetDenyAssignmentByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/GetDenyAssignmentByScope.py
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/GetDenyAssignmentsForResource.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/GetDenyAssignmentsForResource.py
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/GetDenyAssignmentsForResourceGroup.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/GetDenyAssignmentsForResourceGroup.py
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/GetPermissions.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/GetPermissions.py
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/GetProviderOperationsRP.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/GetProviderOperationsRP.py
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/GetResourcePermissions.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/GetResourcePermissions.py
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/GetRoleDefinitionAtScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/GetRoleDefinitionAtScope.py
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/GetRoleDefinitionById.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/GetRoleDefinitionById.py
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/GetRoleDefinitionByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/GetRoleDefinitionByName.py
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/RoleAssignments_CreateById.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/RoleAssignments_CreateById.py
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/RoleAssignments_CreateForResource.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/RoleAssignments_CreateForResource.py
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/RoleAssignments_CreateForResourceGroup.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/RoleAssignments_CreateForResourceGroup.py
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/RoleAssignments_CreateForSubscription.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/RoleAssignments_CreateForSubscription.py
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/RoleAssignments_Delete.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/RoleAssignments_Delete.py
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/RoleAssignments_DeleteById.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/RoleAssignments_DeleteById.py
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/RoleAssignments_Get.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/RoleAssignments_Get.py
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/RoleAssignments_GetById.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/RoleAssignments_GetById.py
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/RoleAssignments_ListForResource.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/RoleAssignments_ListForResource.py
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/RoleAssignments_ListForResourceGroup.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/RoleAssignments_ListForResourceGroup.py
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/RoleAssignments_ListForScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/RoleAssignments_ListForScope.py
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/RoleAssignments_ListForSubscription.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-python/RoleAssignments_ListForSubscription.py
Labels: Authorization

#1996 [Automation] Collect examples from azure-sdk-for-net#Azure.ResourceManager.Billing_1.0.1
  specification/billing/resource-manager/Microsoft.Billing/stable/2021-10-01/examples-dotnet/BillingSubscription.cs
  specification/billing/resource-manager/Microsoft.Billing/stable/2021-10-01/examples-dotnet/BillingSubscription.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2021-10-01/examples-dotnet/BillingSubscriptionAlias.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2021-10-01/examples-dotnet/BillingSubscriptionAliasListByBillingAccount.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2021-10-01/examples-dotnet/BillingSubscriptionsListByBillingAccount.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2021-10-01/examples-dotnet/DeleteBillingSubscription.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2021-10-01/examples-dotnet/MergeSubscription.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2021-10-01/examples-dotnet/MoveBillingSubscription.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2021-10-01/examples-dotnet/PaymentMethodAtBillingAccount_Get.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2021-10-01/examples-dotnet/PaymentMethodAtBillingAccount_List.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2021-10-01/examples-dotnet/PaymentMethodAtBillingProfile_Delete.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2021-10-01/examples-dotnet/PaymentMethodAtBillingProfile_Get.cs
  specification/billing/resource-manager/Microsoft.Billing/stable/2021-10-01/examples-dotnet/PaymentMethodAtBillingProfile_Get.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2021-10-01/examples-dotnet/PaymentMethodAtBillingProfile_List.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2021-10-01/examples-dotnet/PaymentMethodOwnedByUser_Delete.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2021-10-01/examples-dotnet/PaymentMethodOwnedByUser_Get.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2021-10-01/examples-dotnet/PaymentMethodOwnedByUser_List.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2021-10-01/examples-dotnet/PutBillingSubscriptionAlias.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2021-10-01/examples-dotnet/SplitSubscription.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2021-10-01/examples-dotnet/UpdateBillingSubscription.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2021-10-01/examples-dotnet/ValidateSubscriptionMoveFailure.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2021-10-01/examples-dotnet/ValidateSubscriptionMoveSuccess.json
Labels: Billing

#1994 [Automation] Collect examples from azure-sdk-for-net#Azure.ResourceManager.ApplicationInsights_1.0.0-beta.2
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-03-01-preview/examples-dotnet/ComponentLinkedStorageAccountsCreateAndUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-03-01-preview/examples-dotnet/ComponentLinkedStorageAccountsDelete.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-03-01-preview/examples-dotnet/ComponentLinkedStorageAccountsGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-03-01-preview/examples-dotnet/ComponentLinkedStorageAccountsUpdate.json
Labels: Insights

#1992 [Automation] Collect examples from azure-sdk-for-net#Azure.ResourceManager.ArcScVmm_1.0.0-beta.2
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/CreateAvailabilitySet.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/CreateCheckpointVirtualMachine.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/CreateCloud.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/CreateInventoryItem.cs
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/CreateInventoryItem.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/CreateVMMServer.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/CreateVirtualMachine.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/CreateVirtualMachineTemplate.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/CreateVirtualNetwork.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/DeleteAvailabilitySet.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/DeleteCheckpointVirtualMachine.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/DeleteCloud.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/DeleteInventoryItem.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/DeleteVMMServer.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/DeleteVirtualMachine.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/DeleteVirtualMachineTemplate.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/DeleteVirtualNetwork.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/GetAvailabilitySet.cs
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/GetAvailabilitySet.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/GetCloud.cs
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/GetCloud.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/GetInventoryItem.cs
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/GetInventoryItem.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/GetVMMServer.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/GetVirtualMachine.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/GetVirtualMachineTemplate.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/GetVirtualNetwork.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/ListAvailabilitySetsByResourceGroup.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/ListAvailabilitySetsBySubscription.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/ListCloudsByResourceGroup.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/ListCloudsBySubscription.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/ListInventoryItemsByVMMServer.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/ListVMMServersByResourceGroup.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/ListVMMServersBySubscription.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/ListVirtualMachineTemplatesByResourceGroup.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/ListVirtualMachineTemplatesBySubscription.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/ListVirtualMachinesByResourceGroup.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/ListVirtualMachinesBySubscription.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/ListVirtualNetworksByResourceGroup.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/ListVirtualNetworksBySubscription.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/RestartVirtualMachine.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/RestoreCheckpointVirtualMachine.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/StartVirtualMachine.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/StopVirtualMachine.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/UpdateAvailabilitySet.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/UpdateCloud.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/UpdateVMMServer.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/UpdateVirtualMachine.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/UpdateVirtualMachineTemplate.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples-dotnet/UpdateVirtualNetwork.json
Labels: ArcReview

#1990 [Automation] Collect examples from azure-sdk-for-net#Azure.ResourceManager.Analysis_1.0.1
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/checkNameAvailability.cs
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/checkNameAvailability.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/createServer.cs
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/createServer.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/deleteServer.cs
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/deleteServer.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/dissociateGateway.cs
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/dissociateGateway.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/getServer.cs
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/getServer.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/listGatewayStatus.cs
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/listGatewayStatus.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/listServers.cs
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/listServers.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/listServersInResourceGroup.cs
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/listServersInResourceGroup.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/listSkusForExisting.cs
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/listSkusForExisting.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/listSkusForNew.cs
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/listSkusForNew.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/resumeServer.cs
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/resumeServer.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/suspendServer.cs
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/suspendServer.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/updateServer.cs
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples-dotnet/updateServer.json
Labels: Analysis Services

#1985 [Automation] Collect examples from azure-sdk-for-net#Azure.ResourceManager.DataLakeAnalytics_1.1.0-beta.1
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/Accounts_CheckNameAvailability.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/Accounts_Create.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/Accounts_Delete.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/Accounts_Get.cs
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/Accounts_Get.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/Accounts_List.cs
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/Accounts_List.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/Accounts_ListByResourceGroup.cs
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/Accounts_ListByResourceGroup.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/Accounts_Update.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/ComputePolicies_CreateOrUpdate.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/ComputePolicies_Delete.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/ComputePolicies_Get.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/ComputePolicies_ListByAccount.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/ComputePolicies_Update.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/DataLakeStoreAccounts_Add.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/DataLakeStoreAccounts_Delete.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/DataLakeStoreAccounts_Get.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/DataLakeStoreAccounts_ListByAccount.cs
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/DataLakeStoreAccounts_ListByAccount.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/FirewallRules_CreateOrUpdate.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/FirewallRules_Delete.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/FirewallRules_Get.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/FirewallRules_ListByAccount.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/FirewallRules_Update.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/Locations_GetCapability.cs
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/Locations_GetCapability.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/StorageAccounts_Add.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/StorageAccounts_Delete.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/StorageAccounts_Get.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/StorageAccounts_GetStorageContainer.cs
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/StorageAccounts_GetStorageContainer.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/StorageAccounts_ListByAccount.cs
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/StorageAccounts_ListByAccount.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/StorageAccounts_ListSasTokens.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/StorageAccounts_ListStorageContainers.json
  specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/examples-dotnet/StorageAccounts_Update.json
Labels: Data Lake Analytics

#2007 [Automation] Collect examples from azure-sdk-for-net#Azure.ResourceManager.LoadTesting_1.0.1
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-dotnet/LoadTests_CreateOrUpdate.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-dotnet/LoadTests_Delete.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-dotnet/LoadTests_Get.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-dotnet/LoadTests_ListByResourceGroup.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-dotnet/LoadTests_ListBySubscription.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-dotnet/LoadTests_ListOutboundNetworkDependenciesEndpoints.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-dotnet/LoadTests_Update.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-dotnet/Quotas_CheckAvailability.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-dotnet/Quotas_Get.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-dotnet/Quotas_List.json
Labels: Load Test Service

#2006 [Automation] Collect examples from azure-sdk-for-net#Azure.ResourceManager.HybridCompute_1.0.0-beta.2
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/DELETEExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/Extensions_Upgrade.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/GETExtension.cs
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/GETExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/LISTExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/Machines_CreateOrUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/Machines_Delete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/Machines_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/Machines_ListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/Machines_ListBySubscription.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/Machines_Update.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/PUTExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/PrivateEndpointConnectionDelete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/PrivateEndpointConnectionGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/PrivateEndpointConnectionList.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/PrivateEndpointConnectionUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/PrivateLinkScopePrivateLinkResourceGet.cs
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/PrivateLinkScopePrivateLinkResourceGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/PrivateLinkScopePrivateLinkResourceListGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/PrivateLinkScopesCreate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/PrivateLinkScopesDelete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/PrivateLinkScopesGet.cs
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/PrivateLinkScopesGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/PrivateLinkScopesGetValidation.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/PrivateLinkScopesGetValidationForMachine.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/PrivateLinkScopesList.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/PrivateLinkScopesListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/PrivateLinkScopesUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/PrivateLinkScopesUpdateTagsOnly.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/UpdateExtension.json
Labels: ArcReview

#2026 [Automation] Collect examples from azure-sdk-for-net#Azure.ResourceManager.StorageSync_1.1.1
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/CloudEndpoints_AfsShareMetadataCertificatePublicKeys.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/CloudEndpoints_Create.cs
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/CloudEndpoints_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/CloudEndpoints_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/CloudEndpoints_Get.cs
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/CloudEndpoints_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/CloudEndpoints_ListBySyncGroup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/CloudEndpoints_PostBackup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/CloudEndpoints_PostRestore.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/CloudEndpoints_PreBackup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/CloudEndpoints_PreRestore.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/CloudEndpoints_RestoreHeatbeat.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/CloudEndpoints_TriggerChangeDetection.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/PrivateEndpointConnections_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/PrivateEndpointConnections_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/PrivateEndpointConnections_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/PrivateEndpointConnections_ListByStorageSyncService.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/PrivateLinkResources_List.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/RegisteredServers_Create.cs
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/RegisteredServers_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/RegisteredServers_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/RegisteredServers_Get.cs
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/RegisteredServers_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/RegisteredServers_ListByStorageSyncService.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/RegisteredServers_TriggerRollover.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/ServerEndpoints_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/ServerEndpoints_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/ServerEndpoints_Get.cs
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/ServerEndpoints_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/ServerEndpoints_ListBySyncGroup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/ServerEndpoints_Recall.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/ServerEndpoints_Update.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/StorageSyncServiceCheckNameAvailability_AlreadyExists.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/StorageSyncServiceCheckNameAvailability_Available.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/StorageSyncServices_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/StorageSyncServices_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/StorageSyncServices_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/StorageSyncServices_ListByResourceGroup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/StorageSyncServices_ListBySubscription.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/StorageSyncServices_Update.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/SyncGroups_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/SyncGroups_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/SyncGroups_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/SyncGroups_ListByStorageSyncService.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/Workflows_Abort.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/Workflows_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples-dotnet/Workflows_ListByStorageSyncService.json
Labels: StorageSync

#2042 [Automation] Collect examples from azure-sdk-for-python#azure-mgmt-datalake-store_1.1.0b1
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/Accounts_CheckNameAvailability.json
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/Accounts_CheckNameAvailability.py
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/Accounts_Create.json
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/Accounts_Create.py
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/Accounts_Delete.json
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/Accounts_Delete.py
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/Accounts_EnableKeyVault.json
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/Accounts_EnableKeyVault.py
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/Accounts_Get.json
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/Accounts_Get.py
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/Accounts_List.json
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/Accounts_List.py
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/Accounts_ListByResourceGroup.json
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/Accounts_ListByResourceGroup.py
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/Accounts_Update.json
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/Accounts_Update.py
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/FirewallRules_CreateOrUpdate.json
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/FirewallRules_CreateOrUpdate.py
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/FirewallRules_Delete.json
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/FirewallRules_Delete.py
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/FirewallRules_Get.json
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/FirewallRules_Get.py
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/FirewallRules_ListByAccount.json
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/FirewallRules_ListByAccount.py
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/FirewallRules_Update.json
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/FirewallRules_Update.py
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/Locations_GetCapability.json
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/Locations_GetCapability.py
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/Locations_GetUsage.json
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/Locations_GetUsage.py
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/Operations_List.json
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/Operations_List.py
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/TrustedIdProviders_CreateOrUpdate.json
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/TrustedIdProviders_CreateOrUpdate.py
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/TrustedIdProviders_Delete.json
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/TrustedIdProviders_Delete.py
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/TrustedIdProviders_Get.json
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/TrustedIdProviders_Get.py
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/TrustedIdProviders_ListByAccount.json
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/TrustedIdProviders_ListByAccount.py
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/TrustedIdProviders_Update.json
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/TrustedIdProviders_Update.py
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/VirtualNetworkRules_CreateOrUpdate.json
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/VirtualNetworkRules_CreateOrUpdate.py
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/VirtualNetworkRules_Delete.json
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/VirtualNetworkRules_Delete.py
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/VirtualNetworkRules_Get.json
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/VirtualNetworkRules_Get.py
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/VirtualNetworkRules_ListByAccount.json
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/VirtualNetworkRules_ListByAccount.py
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/VirtualNetworkRules_Update.json
  specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/examples-python/VirtualNetworkRules_Update.py
Labels: Data Lake Store

#2040 [Automation] Collect examples from azure-sdk-for-net#Azure.ResourceManager.Hci_1.0.1
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples-dotnet/CreateArcIdentity.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples-dotnet/CreateCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples-dotnet/CreateClusterIdentity.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples-dotnet/DeleteArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples-dotnet/DeleteCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples-dotnet/DeleteExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples-dotnet/GeneratePassword.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples-dotnet/GetArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples-dotnet/GetCluster.cs
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples-dotnet/GetCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples-dotnet/GetExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples-dotnet/ListArcSettingsByCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples-dotnet/ListClustersByResourceGroup.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples-dotnet/ListClustersBySubscription.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples-dotnet/ListExtensionsByArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples-dotnet/PatchArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples-dotnet/PatchExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples-dotnet/PutArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples-dotnet/PutExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples-dotnet/UpdateCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples-dotnet/UploadCertificate.json
Labels: ArcReview

#2037 [Automation] Collect examples from azure-sdk-for-net#Azure.ResourceManager.ContainerInstance_1.1.0-beta.3
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/CachedImagesList.cs
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/CachedImagesList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/CapabilitiesList.cs
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/CapabilitiesList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerAttach.cs
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerAttach.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerExec.cs
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerExec.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupCreateConfidential.cs
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupCreateConfidential.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupEncryptionProperties.cs
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupEncryptionProperties.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupExtensions.cs
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupExtensions.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupUsage.cs
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupUsage.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupsCreateOrUpdate.cs
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupsCreateOrUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupsCreatePriority.cs
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupsCreatePriority.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupsDelete.cs
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupsDelete.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupsGetPriority.cs
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupsGetPriority.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupsGet_Failed.cs
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupsGet_Failed.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupsGet_Succeeded.cs
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupsGet_Succeeded.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupsList.cs
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupsListByResourceGroup.cs
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupsListByResourceGroup.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupsRestart.cs
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupsRestart.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupsStart.cs
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupsStart.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupsStop.cs
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupsStop.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupsUpdate.cs
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerGroupsUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerListLogs.cs
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/ContainerListLogs.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/SubnetServiceAssociationLinkDelete.cs
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/examples-dotnet/SubnetServiceAssociationLinkDelete.json
Labels: Container Instances

#2032 [Automation] Collect examples from azure-sdk-for-net#Azure.ResourceManager.Peering_1.1.1
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/CheckServiceProviderAvailability.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/CreateDirectPeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/CreateExchangePeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/CreateOrUpdateConnectionMonitorTest.cs
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/CreateOrUpdateConnectionMonitorTest.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/CreatePeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/CreatePeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/CreatePeeringServicePrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/CreatePeeringWithExchangeRouteServer.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/CreateRegisteredAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/CreateRegisteredPrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/DeleteConnectionMonitorTest.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/DeletePeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/DeletePeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/DeletePeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/DeletePeeringServicePrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/DeleteRegisteredAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/DeleteRegisteredPrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/GetConnectionMonitorTest.cs
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/GetConnectionMonitorTest.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/GetPeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/GetPeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/GetPeeringReceivedRoutes.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/GetPeeringService.cs
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/GetPeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/GetPeeringServicePrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/GetRegisteredAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/GetRegisteredPrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/InitializeConnectionMonitor.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/ListCdnPeeringPrefixes.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/ListConnectionMonitorTestsByPeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/ListDirectPeeringLocations.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/ListExchangePeeringLocations.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/ListLegacyPeerings.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/ListPeerAsnsBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/ListPeeringServiceCountriesBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/ListPeeringServiceLocationsBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/ListPeeringServiceProviders.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/ListPeeringServicesByResourceGroup.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/ListPeeringServicesBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/ListPeeringsByResourceGroup.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/ListPeeringsBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/ListPrefixesByPeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/ListRegisteredAsnsByPeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/ListRegisteredPrefixesByPeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/ListRpUnbilledPrefixes.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/LookingGlassInvokeCommand.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/UpdatePeeringServiceTags.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/UpdatePeeringTags.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-10-01/examples-dotnet/ValidateRegisteredPrefix.json
Labels: Peering

#2052 [Automation] Collect examples from azure-sdk-for-net#Azure.ResourceManager.LoadTesting_1.0.1
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples-dotnet/LoadTests_Get.cs
Labels: Load Test Service

#2051 [Automation] Collect examples from azure-sdk-for-net#Azure.ResourceManager.HybridCompute_1.0.0-beta.2
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/PrivateEndpointConnectionGet.cs
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/PrivateEndpointConnectionUpdate.cs
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples-dotnet/PrivateLinkScopePrivateLinkResourceGet.cs
Labels: ArcReview

#2046 [Automation] Collect examples from azure-sdk-for-java#azure-resourcemanager_2.24.0
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-03-01/examples-java/listMetricAlert.java
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples-java/listActionGroups.java
  specification/sql/resource-manager/Microsoft.Sql/stable/2021-11-01/examples-java/UpdateManagedShortTermRetentionPolicy.java
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples-java/ApproveRejectSitePrivateEndpointConnection.java
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples-java/DeleteSitePrivateEndpointConnection.java
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples-java/Diagnostics_ExecuteSiteAnalysis.java
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples-java/Diagnostics_ExecuteSiteAnalysisSlot.java
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples-java/Diagnostics_GetSiteAnalysis.java
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples-java/Diagnostics_GetSiteAnalysisSlot.java
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples-java/Diagnostics_GetSiteDetector.java
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples-java/Diagnostics_GetSiteDetectorResponse.java
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples-java/Diagnostics_GetSiteDetectorResponseSlot.java
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples-java/Diagnostics_GetSiteDetectorSlot.java
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples-java/Diagnostics_GetSiteDiagnosticCategory.java
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples-java/Diagnostics_GetSiteDiagnosticCategorySlot.java
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples-java/Diagnostics_ListSiteAnalyses.java
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples-java/Diagnostics_ListSiteAnalysesSlot.java
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples-java/Diagnostics_ListSiteDetectorResponses.java
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples-java/Diagnostics_ListSiteDetectorResponsesSlot.java
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples-java/Diagnostics_ListSiteDetectors.java
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples-java/Diagnostics_ListSiteDetectorsSlot.java
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples-java/GetPublishingCredentialsPolicySlot.java
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples-java/GetSitePrivateLinkResources.java
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples-java/GetWebSiteNetworkTraceOperation.java
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples-java/GetWebSiteNetworkTraces.java
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples-java/ListSlotBackups.java
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples-java/StartWebSiteNetworkTraceOperation.java
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples-java/UpdatePublishingCredentialsPolicy.java
Labels: SQL, Web Apps, Monitor

#2045 [Automation] Collect examples from azure-sdk-for-java#azure-resourcemanager-mediaservices_2.4.0-beta.1
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples-java/async-operation-result.java
Labels: Media Services

#2072 [Automation] Collect examples from azure-sdk-for-python#azure-mgmt-recoveryservices_2.3.0
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/Capabilities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/Capabilities.py
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/CheckNameAvailability_Available.py
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/CheckNameAvailability_NotAvailable.py
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/DeleteRegisteredIdentities.py
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/DeleteVault.py
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/GETVault.py
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/GETVaultExtendedInfo.py
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/GetOperationResult.py
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/GetOperationStatus.py
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/GetPrivateLinkResources.py
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/ListBySubscriptionIds.py
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/ListOperations.py
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/ListPrivateLinkResources.py
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/ListReplicationUsages.py
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/ListResources.py
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/ListUsages.py
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/PATCHVault.py
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/PATCHVault_WithCMK.py
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/PATCHVault_WithCMK3.py
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/PATCHVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/PATCHVault_WithMonitoringSettings.py
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/PATCHVault_WithUserAssignedIdentity.py
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/PUTVault.py
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/PUTVaultCred.py
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/PUTVault_WithCMK.py
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/PUTVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/PUTVault_WithMonitoringSettings.py
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/PUTVault_WithUserAssignedIdentity.py
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-python/PatchVault_WithCMK2.py
Labels: RecoveryServices

#2068 [Automation] Collect examples from azure-sdk-for-python#azure-mgmt-cognitiveservices_13.4.0
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/CreateAccount.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/CreateAccountMin.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/CreateSharedCommitmentPlan.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/CreateSharedCommitmentPlanAssociation.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/DeleteAccount.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/DeleteCommitmentPlan.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/DeleteDeployment.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/DeletePrivateEndpointConnection.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/DeleteSharedCommitmentPlan.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/DeleteSharedCommitmentPlanAssociation.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/GetAccount.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/GetCommitmentPlan.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/GetDeletedAccount.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/GetDeployment.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/GetOperations.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/GetPrivateEndpointConnection.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/GetSharedCommitmentPlan.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/GetSharedCommitmentPlanAssociation.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/GetSkus.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/GetUsages.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/ListAccountModels.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/ListAccountsByResourceGroup.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/ListAccountsBySubscription.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/ListCommitmentPlans.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/ListCommitmentTiers.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/ListDeletedAccountsBySubscription.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/ListDeployments.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/ListKeys.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/ListPrivateEndpointConnections.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/ListPrivateLinkResources.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/ListSharedCommitmentPlanAssociations.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/ListSharedCommitmentPlansByResourceGroup.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/ListSharedCommitmentPlansBySubscription.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/ListSkus.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/PurgeDeletedAccount.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/PutCommitmentPlan.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/PutDeployment.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/PutPrivateEndpointConnection.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/UpdateAccount.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-python/UpdateSharedCommitmentPlan.json
Labels: Cognitive Services

#2093 [Automation] Collect examples from azure-sdk-for-python#azure-mgmt-hybridcompute_8.0.0
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/DELETEExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/DELETEExtension.py
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/Extensions_Upgrade.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/Extensions_Upgrade.py
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/GETExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/GETExtension.py
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/LISTExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/LISTExtension.py
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/Machines_Delete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/Machines_Delete.py
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/Machines_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/Machines_Get.py
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/Machines_ListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/Machines_ListByResourceGroup.py
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/Machines_ListBySubscription.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/Machines_ListBySubscription.py
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/Operations_List.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/Operations_List.py
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PUTExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PUTExtension.py
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateEndpointConnectionDelete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateEndpointConnectionDelete.py
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateEndpointConnectionGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateEndpointConnectionGet.py
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateEndpointConnectionList.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateEndpointConnectionList.py
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateEndpointConnectionUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateEndpointConnectionUpdate.py
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateLinkScopePrivateLinkResourceGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateLinkScopePrivateLinkResourceGet.py
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateLinkScopePrivateLinkResourceListGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateLinkScopePrivateLinkResourceListGet.py
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateLinkScopesCreate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateLinkScopesCreate.py
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateLinkScopesDelete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateLinkScopesDelete.py
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateLinkScopesGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateLinkScopesGet.py
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateLinkScopesGetValidation.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateLinkScopesGetValidation.py
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateLinkScopesGetValidationForMachine.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateLinkScopesGetValidationForMachine.py
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateLinkScopesList.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateLinkScopesList.py
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateLinkScopesListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateLinkScopesListByResourceGroup.py
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateLinkScopesUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/PrivateLinkScopesUpdate.py
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/UpdateExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples-python/UpdateExtension.py
Labels: ArcReview

#2083 [Automation] Collect examples from azure-sdk-for-net#Azure.ResourceManager.RecoveryServices_1.0.0
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/Capabilities.cs
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/Capabilities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/CheckNameAvailability_Available.cs
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/CheckNameAvailability_NotAvailable.cs
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/DeleteRegisteredIdentities.cs
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/DeleteVault.cs
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/GETVault.cs
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/GETVaultExtendedInfo.cs
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/GetPrivateLinkResources.cs
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/ListBySubscriptionIds.cs
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/ListPrivateLinkResources.cs
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/ListReplicationUsages.cs
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/ListResources.cs
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/ListUsages.cs
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/PATCHVault.cs
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/PATCHVault_WithCMK.cs
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/PATCHVault_WithCMK3.cs
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/PATCHVault_WithMonitoringSettings.cs
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/PATCHVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/PATCHVault_WithUserAssignedIdentity.cs
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/PUTVault.cs
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/PUTVaultCred.cs
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/PUTVault_WithCMK.cs
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/PUTVault_WithMonitoringSettings.cs
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/PUTVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/PUTVault_WithUserAssignedIdentity.cs
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/PatchVault_WithCMK2.cs
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/UpdateVaultExtendedInfo.cs
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-dotnet/UpdateVaultExtendedInfo.json
Labels: RecoveryServices

#2112 [Automation] Collect examples from azure-sdk-for-net#Azure.ResourceManager.CognitiveServices_1.2.1
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/CheckDomainAvailability.cs
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/CheckDomainAvailability.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/CheckSkuAvailability.cs
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/CheckSkuAvailability.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/CreateAccount.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/CreateAccountMin.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/CreateSharedCommitmentPlan.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/CreateSharedCommitmentPlanAssociation.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/DeleteAccount.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/DeleteCommitmentPlan.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/DeleteDeployment.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/DeletePrivateEndpointConnection.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/DeleteSharedCommitmentPlan.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/DeleteSharedCommitmentPlanAssociation.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/GetAccount.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/GetCommitmentPlan.cs
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/GetCommitmentPlan.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/GetDeletedAccount.cs
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/GetDeletedAccount.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/GetDeployment.cs
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/GetDeployment.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/GetPrivateEndpointConnection.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/GetSharedCommitmentPlan.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/GetSharedCommitmentPlanAssociation.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/GetSkus.cs
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/GetSkus.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/GetUsages.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/ListAccountModels.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/ListAccountsByResourceGroup.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/ListAccountsBySubscription.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/ListCommitmentPlans.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/ListCommitmentTiers.cs
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/ListCommitmentTiers.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/ListDeletedAccountsBySubscription.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/ListDeployments.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/ListKeys.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/ListPrivateEndpointConnections.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/ListPrivateLinkResources.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/ListSharedCommitmentPlanAssociations.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/ListSharedCommitmentPlansByResourceGroup.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/ListSharedCommitmentPlansBySubscription.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/ListSkus.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/PurgeDeletedAccount.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/PutCommitmentPlan.cs
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/PutCommitmentPlan.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/PutDeployment.cs
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/PutDeployment.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/RegenerateKey.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/UpdateAccount.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-dotnet/UpdateSharedCommitmentPlan.json
Labels: Cognitive Services

#2110 [Automation] Collect examples from azure-sdk-for-net#Azure.ResourceManager.NotificationHubs_1.0.1
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/Namespaces/NHNameSpaceAuthorizationRuleCreate.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/Namespaces/NHNameSpaceAuthorizationRuleDelete.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/Namespaces/NHNameSpaceAuthorizationRuleGet.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/Namespaces/NHNameSpaceAuthorizationRuleListAll.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/Namespaces/NHNameSpaceAuthorizationRuleListKey.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/Namespaces/NHNameSpaceAuthorizationRuleRegenrateKey.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/Namespaces/NHNameSpaceCheckNameAvailability.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/Namespaces/NHNameSpaceCreate.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/Namespaces/NHNameSpaceDelete.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/Namespaces/NHNameSpaceGet.cs
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/Namespaces/NHNameSpaceGet.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/Namespaces/NHNameSpaceList.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/Namespaces/NHNameSpaceListByResourceGroup.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/Namespaces/NHNameSpaceUpdate.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/NotificationHubs/NotificationHubAuthorizationRuleCreate.cs
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/NotificationHubs/NotificationHubAuthorizationRuleCreate.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/NotificationHubs/NotificationHubAuthorizationRuleDelete.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/NotificationHubs/NotificationHubAuthorizationRuleGet.cs
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/NotificationHubs/NotificationHubAuthorizationRuleGet.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/NotificationHubs/NotificationHubAuthorizationRuleListAll.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/NotificationHubs/NotificationHubAuthorizationRuleListKey.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/NotificationHubs/NotificationHubAuthorizationRuleRegenrateKey.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/NotificationHubs/NotificationHubCheckNameAvailability.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/NotificationHubs/NotificationHubCreate.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/NotificationHubs/NotificationHubDebugSend.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/NotificationHubs/NotificationHubDelete.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/NotificationHubs/NotificationHubGet.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/NotificationHubs/NotificationHubListByNameSpace.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/NotificationHubs/NotificationHubPatch.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples-dotnet/NotificationHubs/NotificationHubPnsCredentials.json
Labels: Notification Hub

#2106 [Automation] Collect examples from azure-sdk-for-net#Azure.ResourceManager.AlertsManagement_1.0.1
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-dotnet/AlertsMetaData_MonitorService.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-dotnet/Alerts_ChangeState.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-dotnet/Alerts_GetById.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-dotnet/Alerts_History.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-dotnet/Alerts_List.cs
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-dotnet/Alerts_List.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-dotnet/Alerts_Summary.cs
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-dotnet/Alerts_Summary.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-dotnet/SmartGroups_ChangeState.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-dotnet/SmartGroups_GetById.cs
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-dotnet/SmartGroups_GetById.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-dotnet/SmartGroups_History.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-dotnet/SmartGroups_List.cs
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples-dotnet/SmartGroups_List.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-dotnet/AlertProcessingRules_Create_or_update_add_action_group_all_alerts_in_subscription.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-dotnet/AlertProcessingRules_Create_or_update_add_two_action_groups_all_Sev0_Sev1_two_resource_groups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-dotnet/AlertProcessingRules_Create_or_update_remove_all_action_groups_from_specific_alert_rule.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-dotnet/AlertProcessingRules_Create_or_update_remove_all_action_groups_outside_business_hours.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-dotnet/AlertProcessingRules_Create_or_update_remove_all_action_groups_recurring_maintenance_window.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-dotnet/AlertProcessingRules_Create_or_update_remove_all_action_groups_specific_VM_one-off_maintenance_window.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-dotnet/AlertProcessingRules_Delete.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-dotnet/AlertProcessingRules_GetById.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-dotnet/AlertProcessingRules_List_ResourceGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-dotnet/AlertProcessingRules_List_Subscription.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples-dotnet/AlertProcessingRules_Patch.json
Labels: Alerts Management

#2102 [Automation] Collect examples from azure-sdk-for-net#Azure.ResourceManager.Maps_1.0.1
  specification/maps/resource-manager/Microsoft.Maps/stable/2021-02-01/examples-dotnet/CreateAccount.json
  specification/maps/resource-manager/Microsoft.Maps/stable/2021-02-01/examples-dotnet/CreateAccountGen2.json
  specification/maps/resource-manager/Microsoft.Maps/stable/2021-02-01/examples-dotnet/CreateMapsCreator.json
  specification/maps/resource-manager/Microsoft.Maps/stable/2021-02-01/examples-dotnet/DeleteAccount.json
  specification/maps/resource-manager/Microsoft.Maps/stable/2021-02-01/examples-dotnet/DeleteMapsCreator.json
  specification/maps/resource-manager/Microsoft.Maps/stable/2021-02-01/examples-dotnet/GetAccount.json
  specification/maps/resource-manager/Microsoft.Maps/stable/2021-02-01/examples-dotnet/GetMapsCreator.cs
  specification/maps/resource-manager/Microsoft.Maps/stable/2021-02-01/examples-dotnet/GetMapsCreator.json
  specification/maps/resource-manager/Microsoft.Maps/stable/2021-02-01/examples-dotnet/ListAccountsByResourceGroup.json
  specification/maps/resource-manager/Microsoft.Maps/stable/2021-02-01/examples-dotnet/ListAccountsBySubscription.json
  specification/maps/resource-manager/Microsoft.Maps/stable/2021-02-01/examples-dotnet/ListKeys.json
  specification/maps/resource-manager/Microsoft.Maps/stable/2021-02-01/examples-dotnet/ListMapsCreatorsByAccount.json
  specification/maps/resource-manager/Microsoft.Maps/stable/2021-02-01/examples-dotnet/RegenerateKey.json
  specification/maps/resource-manager/Microsoft.Maps/stable/2021-02-01/examples-dotnet/UpdateAccount.json
  specification/maps/resource-manager/Microsoft.Maps/stable/2021-02-01/examples-dotnet/UpdateAccountGen1.json
  specification/maps/resource-manager/Microsoft.Maps/stable/2021-02-01/examples-dotnet/UpdateAccountGen2.json
  specification/maps/resource-manager/Microsoft.Maps/stable/2021-02-01/examples-dotnet/UpdateMapsCreator.json
Labels: Maps

#2101 [Automation] Collect examples from azure-sdk-for-net#Azure.ResourceManager.TrafficManager_1.1.0-beta.2
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/Endpoint-DELETE-External.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/Endpoint-GET-External-WithGeoMapping.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/Endpoint-GET-External-WithLocation.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/Endpoint-GET-External-WithSubnetMapping.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/Endpoint-PATCH-External-Target.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/Endpoint-PUT-External-WithAlwaysServe.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/Endpoint-PUT-External-WithCustomHeaders.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/Endpoint-PUT-External-WithGeoMapping.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/Endpoint-PUT-External-WithLocation.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/Endpoint-PUT-External-WithSubnetMapping.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/GeographicHierarchy-GET-default.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/HeatMap-GET-With-Null-Values.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/HeatMap-GET-With-TopLeft-BotRight.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/HeatMap-GET.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/NameAvailabilityTest_NameAvailable-POST-example-21.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/NameAvailabilityTest_NameNotAvailable-POST-example-23.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/Profile-DELETE.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/Profile-GET-ByResourceGroup.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/Profile-GET-BySubscription.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/Profile-GET-WithEndpoints.cs
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/Profile-GET-WithEndpoints.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/Profile-GET-WithTrafficViewDisabled.cs
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/Profile-GET-WithTrafficViewDisabled.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/Profile-GET-WithTrafficViewEnabled.cs
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/Profile-GET-WithTrafficViewEnabled.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/Profile-PATCH-MonitorConfig.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/Profile-PUT-MultiValue.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/Profile-PUT-NoEndpoints.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/Profile-PUT-WithAliasing.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/Profile-PUT-WithCustomHeaders.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/Profile-PUT-WithEndpoints.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/Profile-PUT-WithNestedEndpoints.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/TrafficManagerUserMetricsKeys-DELETE.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/TrafficManagerUserMetricsKeys-GET.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples-dotnet/TrafficManagerUserMetricsKeys-PUT.json
Labels: Network - Traffic Manager

#2096 [Automation] Collect examples from azure-sdk-for-net#Azure.ResourceManager.IotHub_1.0.1
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/IotHub_ManualFailover.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/checkNameAvailability.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_certificatescreateorupdate.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_certificatesdelete.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_certverify.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_createOrUpdate.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_createconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_delete.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_deleteconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_deleteprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_exportdevices.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_generateverificationcode.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_get.cs
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_get.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_getcertificate.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_getconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_getjob.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_getkey.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_getprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_getprivatelinkresources.cs
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_getprivatelinkresources.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_getskus.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_importdevices.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_listbyrg.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_listbysubscription.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_listcertificates.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_listehgroups.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_listjobs.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_listkeys.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_listprivateendpointconnections.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_listprivatelinkresources.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_patch.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_quotametrics.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_routingendpointhealth.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_stats.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_testallroutes.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_testnewroute.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_updateprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_usages.cs
  specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/examples-dotnet/iothub_usages.json
Labels: IotHub

#2129 [Automation] Collect examples from azure-sdk-for-net#Azure.ResourceManager.Authorization_1.0.1
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2015-07-01/examples-dotnet/ElevateAccess.cs
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2015-07-01/examples-dotnet/ElevateAccess.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2015-07-01/examples-dotnet/GetClassicAdministrators.cs
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2015-07-01/examples-dotnet/GetClassicAdministrators.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/CancelRoleAssignmentScheduleRequestByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/CancelRoleEligibilityScheduleRequestByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/GetRoleAssignmentScheduleByName.cs
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/GetRoleAssignmentScheduleByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/GetRoleAssignmentScheduleInstanceByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/GetRoleAssignmentScheduleInstancesByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/GetRoleAssignmentScheduleRequestByName.cs
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/GetRoleAssignmentScheduleRequestByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/GetRoleAssignmentScheduleRequestByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/GetRoleAssignmentSchedulesByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/GetRoleEligibilityScheduleByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/GetRoleEligibilityScheduleInstanceByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/GetRoleEligibilityScheduleInstancesByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/GetRoleEligibilityScheduleRequestByName.cs
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/GetRoleEligibilityScheduleRequestByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/GetRoleEligibilityScheduleRequestByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/GetRoleEligibilitySchedulesByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/GetRoleManagementPolicyAssignmentByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/GetRoleManagementPolicyAssignmentByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/GetRoleManagementPolicyByName.cs
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/GetRoleManagementPolicyByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/GetRoleManagementPolicyByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/PatchPartialRoleManagementPolicy.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/PatchRoleManagementPolicy.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/PutRoleAssignmentScheduleRequest.cs
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/PutRoleAssignmentScheduleRequest.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/PutRoleEligibilityScheduleRequest.cs
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/PutRoleEligibilityScheduleRequest.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/PutRoleManagementPolicyAssignment.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/ValidateRoleAssignmentScheduleRequestByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples-dotnet/ValidateRoleEligibilityScheduleRequestByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-dotnet/DeleteRoleDefinition.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-dotnet/GetAllDenyAssignments.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-dotnet/GetAllProviderOperations.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-dotnet/GetDenyAssignmentByNameId.cs
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-dotnet/GetDenyAssignmentByNameId.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-dotnet/GetDenyAssignmentByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-dotnet/GetDenyAssignmentsForResource.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-dotnet/GetDenyAssignmentsForResourceGroup.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-dotnet/GetPermissions.cs
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-dotnet/GetPermissions.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-dotnet/GetProviderOperationsRP.cs
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-dotnet/GetProviderOperationsRP.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-dotnet/GetResourcePermissions.cs
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-dotnet/GetResourcePermissions.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-dotnet/GetRoleDefinitionAtScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-dotnet/GetRoleDefinitionByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-dotnet/PutRoleDefinition.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-dotnet/RoleAssignments_CreateForResource.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-dotnet/RoleAssignments_CreateForResourceGroup.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-dotnet/RoleAssignments_CreateForSubscription.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-dotnet/RoleAssignments_Delete.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-dotnet/RoleAssignments_Get.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples-dotnet/RoleAssignments_ListForScope.json
Labels: Authorization

#2126 [Automation] Collect examples from azure-sdk-for-net#Azure.ResourceManager.ServiceFabric_1.0.1
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ApplicationDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ApplicationGetOperation_example.cs
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ApplicationGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ApplicationListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ApplicationPatchOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ApplicationPutOperation_example_max.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ApplicationPutOperation_example_min.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ApplicationPutOperation_recreate_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ApplicationTypeNameDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ApplicationTypeNameGetOperation_example.cs
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ApplicationTypeNameGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ApplicationTypeNameListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ApplicationTypeNamePutOperation_example.cs
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ApplicationTypeNamePutOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ApplicationTypeVersionDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ApplicationTypeVersionGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ApplicationTypeVersionListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ApplicationTypeVersionPutOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ClusterDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ClusterGetOperation_example.cs
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ClusterGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ClusterListByResourceGroupOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ClusterListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ClusterPatchOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ClusterPutOperation_example_max.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ClusterPutOperation_example_min.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ClusterVersionsGetByEnvironment_example.cs
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ClusterVersionsGetByEnvironment_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ClusterVersionsGet_example.cs
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ClusterVersionsGet_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ClusterVersionsListByEnvironment.cs
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ClusterVersionsListByEnvironment.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ClusterVersionsList_example.cs
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ClusterVersionsList_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ListUpgradableVersionsMinMax_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ListUpgradableVersionsPath_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ServiceDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ServiceGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ServiceListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ServicePatchOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ServicePutOperation_example_max.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples-dotnet/ServicePutOperation_example_min.json
Labels: Service Fabric

#2120 [Automation] Collect examples from azure-sdk-for-js#@azure/arm-recoveryservices_5.2.0
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/Capabilities.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/Capabilities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/CheckNameAvailability_Available.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/CheckNameAvailability_NotAvailable.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/DeleteRegisteredIdentities.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/DeleteVault.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/GETVault.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/GETVaultExtendedInfo.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/GetOperationResult.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/GetOperationStatus.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/GetPrivateLinkResources.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/ListBySubscriptionIds.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/ListOperations.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/ListPrivateLinkResources.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/ListReplicationUsages.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/ListResources.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/ListUsages.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/PATCHVault.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/PATCHVault_WithCMK.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/PATCHVault_WithCMK3.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/PATCHVault_WithMonitoringSettings.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/PATCHVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/PATCHVault_WithUserAssignedIdentity.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/PUTVault.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/PUTVaultCred.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/PUTVault_WithCMK.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/PUTVault_WithMonitoringSettings.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/PUTVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/PUTVault_WithUserAssignedIdentity.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/PatchVault_WithCMK2.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/UpdateVaultExtendedInfo.js
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-js/UpdateVaultExtendedInfo.json
Labels: RecoveryServices

#2135 [Automation] Collect examples from azure-sdk-for-net#Azure.ResourceManager.Purview_1.0.1
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/Accounts_AddRootCollectionAdmin.cs
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/Accounts_AddRootCollectionAdmin.json
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/Accounts_CheckNameAvailability.cs
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/Accounts_CheckNameAvailability.json
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/Accounts_CreateOrUpdate.cs
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/Accounts_CreateOrUpdate.json
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/Accounts_Delete.cs
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/Accounts_Delete.json
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/Accounts_Get.cs
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/Accounts_Get.json
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/Accounts_ListByResourceGroup.cs
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/Accounts_ListByResourceGroup.json
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/Accounts_ListBySubscription.cs
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/Accounts_ListBySubscription.json
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/Accounts_ListKeys.cs
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/Accounts_ListKeys.json
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/Accounts_Update.cs
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/Accounts_Update.json
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/DefaultAccounts_Get.cs
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/DefaultAccounts_Get.json
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/DefaultAccounts_Remove.cs
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/DefaultAccounts_Remove.json
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/DefaultAccounts_Set.cs
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/DefaultAccounts_Set.json
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/PrivateEndpointConnections_CreateOrUpdate.cs
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/PrivateEndpointConnections_CreateOrUpdate.json
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/PrivateEndpointConnections_Delete.cs
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/PrivateEndpointConnections_Delete.json
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/PrivateEndpointConnections_Get.cs
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/PrivateEndpointConnections_Get.json
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/PrivateEndpointConnections_ListByAccount.cs
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/PrivateEndpointConnections_ListByAccount.json
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/PrivateLinkResources_GetByGroupId.cs
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/PrivateLinkResources_GetByGroupId.json
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/PrivateLinkResources_ListByAccount.cs
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples-dotnet/PrivateLinkResources_ListByAccount.json
Labels: Purview

#2146 [Automation] Collect examples from azure-sdk-for-net#Azure.ResourceManager.Redis_1.1.1
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheAsyncOperationStatus.cs
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheAsyncOperationStatus.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheCheckNameAvailability.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheCreate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheCreateDefaultVersion.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheCreateLatestVersion.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheDeletePrivateEndpointConnection.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheExport.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheFirewallRuleCreate.cs
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheFirewallRuleCreate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheFirewallRuleDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheFirewallRuleGet.cs
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheFirewallRuleGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheFirewallRulesList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheForceReboot.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheGet.cs
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheGetPrivateEndpointConnection.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheImport.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheLinkedServer_Create.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheLinkedServer_Delete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheLinkedServer_Get.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheLinkedServer_List.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheListByResourceGroup.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheListKeys.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheListPrivateEndpointConnections.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheListPrivateLinkResources.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheListUpgradeNotifications.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCachePatchSchedulesCreateOrUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCachePatchSchedulesDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCachePatchSchedulesGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCachePatchSchedulesList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCachePutPrivateEndpointConnection.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheRegenerateKey.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/examples-dotnet/RedisCacheUpdate.json
Labels: Redis Cache

#2157 [Automation] Collect examples from azure-sdk-for-go#sdk/resourcemanager/recoveryservices/armrecoveryservices/v1.2.0
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/Capabilities.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/Capabilities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/CheckNameAvailability_Available.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/CheckNameAvailability_NotAvailable.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/DeleteRegisteredIdentities.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/DeleteVault.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/GETVault.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/GETVaultExtendedInfo.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/GetOperationResult.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/GetOperationStatus.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/GetPrivateLinkResources.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/ListBySubscriptionIds.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/ListOperations.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/ListPrivateLinkResources.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/ListReplicationUsages.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/ListResources.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/ListUsages.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/PATCHVault.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/PATCHVault_WithCMK.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/PATCHVault_WithCMK3.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/PATCHVault_WithMonitoringSettings.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/PATCHVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/PATCHVault_WithUserAssignedIdentity.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/PUTVault.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/PUTVaultCred.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/PUTVault_WithCMK.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/PUTVault_WithMonitoringSettings.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/PUTVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/PUTVault_WithUserAssignedIdentity.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/PatchVault_WithCMK2.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/UpdateVaultExtendedInfo.go
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-go/UpdateVaultExtendedInfo.json
Labels: RecoveryServices

#2151 [Automation] Collect examples from azure-sdk-for-java#azure-resourcemanager-cognitiveservices_1.0.0
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/CheckDomainAvailability.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/CheckSkuAvailability.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/CreateAccount.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/CreateAccountMin.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/CreateSharedCommitmentPlan.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/CreateSharedCommitmentPlanAssociation.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/DeleteAccount.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/DeleteCommitmentPlan.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/DeleteDeployment.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/DeletePrivateEndpointConnection.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/DeleteSharedCommitmentPlan.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/DeleteSharedCommitmentPlanAssociation.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/GetAccount.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/GetCommitmentPlan.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/GetDeletedAccount.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/GetDeployment.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/GetOperations.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/GetPrivateEndpointConnection.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/GetSharedCommitmentPlan.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/GetSharedCommitmentPlanAssociation.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/GetSkus.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/GetUsages.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/ListAccountModels.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/ListAccountsByResourceGroup.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/ListAccountsBySubscription.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/ListCommitmentPlans.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/ListCommitmentTiers.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/ListDeletedAccountsBySubscription.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/ListDeployments.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/ListKeys.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/ListPrivateEndpointConnections.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/ListPrivateLinkResources.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/ListSharedCommitmentPlanAssociations.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/ListSharedCommitmentPlansByResourceGroup.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/ListSharedCommitmentPlansBySubscription.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/ListSkus.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/PurgeDeletedAccount.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/PutCommitmentPlan.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/PutDeployment.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/PutPrivateEndpointConnection.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/RegenerateKey.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/UpdateAccount.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2022-12-01/examples-java/UpdateSharedCommitmentPlan.json
Labels: Cognitive Services

#2161 [Automation] Collect examples from azure-sdk-for-java#azure-resourcemanager-recoveryservices_1.0.0
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/Capabilities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PATCHVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PUTVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/UpdateVaultExtendedInfo.java
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples-java/UpdateVaultExtendedInfo.json
Labels: RecoveryServices

#2160 [Automation] Collect examples from azure-sdk-for-java#azure-resourcemanager-timeseriesinsights_1.0.0-beta.2
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/AccessPoliciesCreate.java
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/AccessPoliciesCreate.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/AccessPoliciesDelete.java
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/AccessPoliciesDelete.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/AccessPoliciesGet.java
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/AccessPoliciesGet.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/AccessPoliciesListByEnvironment.java
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/AccessPoliciesListByEnvironment.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/AccessPoliciesPatchRoles.java
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/AccessPoliciesPatchRoles.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/EnvironmentsCreate.java
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/EnvironmentsCreate.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/EnvironmentsDelete.java
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/EnvironmentsDelete.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/EnvironmentsGet.java
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/EnvironmentsGet.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/EnvironmentsListByResourceGroup.java
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/EnvironmentsListByResourceGroup.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/EnvironmentsListBySubscription.java
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/EnvironmentsListBySubscription.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/EnvironmentsPatchTags.java
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/EnvironmentsPatchTags.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/EventSourcesCreateEventHub.java
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/EventSourcesCreateEventHub.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/EventSourcesCreateEventHubWithCustomEnquedTime.java
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/EventSourcesCreateEventHubWithCustomEnquedTime.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/EventSourcesDelete.java
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/EventSourcesDelete.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/EventSourcesGetEventHub.java
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/EventSourcesGetEventHub.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/EventSourcesListByEnvironment.java
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/EventSourcesListByEnvironment.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/EventSourcesPatchTags.java
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/EventSourcesPatchTags.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/Operation_List.java
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/Operation_List.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/ReferenceDataSetsCreate.java
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/ReferenceDataSetsCreate.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/ReferenceDataSetsDelete.java
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/ReferenceDataSetsDelete.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/ReferenceDataSetsGet.java
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/ReferenceDataSetsGet.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/ReferenceDataSetsListByEnvironment.java
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/ReferenceDataSetsListByEnvironment.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/ReferenceDataSetsPatchTags.java
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples-java/ReferenceDataSetsPatchTags.json
Labels: TimeseriesInsights
